{% extends '@AppDesign/HomePage/base.html.twig' %}

{% block title %}Registration!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h3>Registration</h3>
            {{ form_start(form, {"attr": {"class": "form-horizontal" } }) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
