<ul {% if 'id' in menu|keys %}id="{{ menu.id }}"{% endif %}>
    {% if menu.items %}
        {% for item in menu.items %}
            <li id="{{ item.id }}"><a {% if 'aClass' in item|keys %}class="{{ item.aClass }}" {% endif %}href="{{ item.href }}">{{ item.caption }}</a>
                {% if 'submenu' in item|keys %}
                    {{ include(template, { 'menu': item.submenu, 'template' : template}) }}
                {% endif %}
            </li>
        {% endfor %}
    {% endif %}
</ul>
