<ul class="dropdown-menu">
    {% if menu.items %}
        {% for item in menu.items %}
            {{ include('@AppDesign/Menu/menu_item.html.twig', { 'item': item, 'template' : template}) }}
        {% endfor %}
    {% endif %}
</ul>
