<ul {% if menu.id %}id="{{ menu.id }}" {% endif %}class="dropdown-menu purple-dropdown-menu" >
    {% if menu.items %}
        {% for item in menu.items %}
            {{ include('@AppDesign/Menu/menu_item.html.twig', { 'item': item, 'template' : '@AppDesign/Menu/main_menu_sub.html.twig'}) }}
        {% endfor %}
    {% endif %}
</ul>
