<ul id="draggable-main-menu" class="dropdown-menu purple-dropdown-menu">
    {% for item in items %}
        {{ include('@AppDesign/Menu/menu_item.html.twig', { 'item': item, 'template' : '@AppDesign/Menu/main_menu_sub.html.twig'}) }}
    {% endfor %}
</ul>
