<li {% if 'submenu' in item|keys %}class="dropdown dropdown-submenu"{% endif %}>
    <a data-menu-id="{{ item.id }}" href="{{ item.href }}" {% if 'submenu' in item|keys %}class="dropdown-toggle" data-toggle="dropdown" {% endif %}>
        {% if 'aClass' in item|keys %} <span class="glyphicon {{ item.aClass }}" ></span> {% endif %}
        {{ item.caption }}
    </a>
    {% if 'submenu' in item|keys %}
        {{ include(template, { 'menu': item.submenu, 'template' : template}) }}
    {% endif %}
</li>
