<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {{ encore_entry_link_tags('css/app') }}
    {% block stylesheets %}{% endblock %}

        {#FAVICON#}
    <link rel="shortcut icon" href="
    {% block favicon %}
        {{ asset('bundles/appoperations/images/space-ice.png') }}
    {% endblock %}" type="image/png">
</head>
<body>

{# TODO: change   #}
{% set User = app.user %}
    <nav class="navbar" role="navigation">
        <div class="container-fluid" id="header-container">
            <ul class="nav navbar-nav">
                {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('app_home_main') }}">Main Page</a></li>
                <li class="dropdown" id="show_main_menu">
                    <a href="#" id="main-menu-dropdown-toggle" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </a>

                    {{ render(controller('AppDesignBundle:ShortcutMenu:display')) }}

                    <span class="bottom-caret"></span>
                </li>
                <li><h5>You logged as {{ User.name|upper }} {{ User.getRoleName }} </h5></li>
                <li><a href="{{ path('app_security_logout') }}">Log Out</a></li>
                {% else %}
                    <li><a class="btn btn-lg btn-primary" href="{{ path('app_security_login') }}">Log In</a></li>
                    <li><a class="btn btn-lg btn-primary" style="color: #ffffff"
                           href="{{ path('app_security_register') }}">Registration</a></li>
                {% endif %}
            </ul>

        </div>
    </nav>
    <div class="err-block-content">
        {{ include("@AppDesign/HomePage/flash-message.html.twig") }}
    </div>

{% block body %}{% endblock %}

{{ encore_entry_script_tags('app') }}
{# use standard twig block javascripts to include js that is used on single page only #}
{% block javascripts %}{% endblock %}
</body>
</html>
