{% extends '@AppDesign/HomePage/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Main Page</h1>
            <a href="{{ url }}">Lucky number</a>
        </div>
    </div>
{% endblock %}
