{% extends '@AppDesign/HomePage/base.html.twig' %}

{% block title %}Read: {{ article.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/appoperations/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/appoperations/css/styles.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img class="show-article-img" src="{{ asset('bundles/appoperations/' ~ article.imagePath) }}">
                <div class="show-article-title-container d-inline-block pl-3 align-middle">
                    <span class="show-article-title ">{{ article.title }}</span>
                    <br>
                    <span class="align-left article-details"><img class="article-author-img rounded-circle"
                                                                  src="{{ asset('bundles/appoperations/images/alien-profile.png') }}"> {{ article.author }} </span>
                    <span class="pl-2 article-details">
                {{ article.publishedAt ? article.publishedAt|default_date_format : 'unpublished' }}
            </span>
                    <span class="pl-2 article-details">
                <span class="js-like-article-count">{{ article.heartCount }}</span>
                <a href="{{ path('app_operations_news_toggle_heart', {slug: article.slug}) }}"
                   class="fa fa-heart-o like-article js-like-article"></a>
            </span>
                    <span class="pl-2 article-details">
                {% for tag in article.tags %}
                    <span class="badge badge-secondary">{{ tag.name }}</span>
                {% endfor %}
            </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="article-text">
                    {{ article.content|cached_markdown }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3><i class="pr-3 fa fa-comment"></i><span
                            class="js-counter-comment">{{ article.nonDeletedComments|length }}</span> Comments</h3>
                <hr>

                <div class="row mb-5 js-form-comment-add">
                    <div class="col-sm-12">
                        <img class="comment-img rounded-circle"
                             src="{{ asset('bundles/appoperations/images/astronaut-profile.png') }}">
                        <div class="comment-container d-inline-block pl-3 align-top">
                            <span class="commenter-name">{{ User.name }}</span>
                            <form class="js-add-comment-form" name="comment_form" method="post"
                                  action="{{ path('app_operations_comments_add') }}">
                                <input type="hidden" name="articleId" value="{{ article.id }}">
                                <div class="form-group"><label class="control-label required"
                                                               for="comment_form_content">Enter
                                        a comment below:</label>
                                    <textarea id="comment_form_content" name="content" required="required"
                                              class="form-control"></textarea></div>
                                <div class="form-group">
                                    <button type="submit" id="comment_form_submit" name="comment_form[submit]"
                                            class="btn-default btn">Comment
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="js-comment-container" data-href="{{ path('app_operations_comments_main', {id:article.id}) }}"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/appoperations/js/CommentHandler.js') }}"></script>
    <script>
        $(document).ready(() => {
            const commentsWidget = new CommentHandler('.js-add-comment-form');

            commentsWidget.setContainer('.js-comment-container');
            commentsWidget.loadWidget();

            $('.js-like-article').on('click', (e) => {
                e.preventDefault();

                const $link = $(e.currentTarget);

                $link.toggleClass('fa-heart-o').toggleClass('fa-heart');

                $.ajax({
                    method: 'POST',
                    url: $link.attr('href')
                }).done((data) => {
                    $('.js-like-article-count').html(data.hearts);
                })
            });
        });
    </script>
{% endblock %}
