/* navigation bar logo positioning */
nav .logo {
    float: left;
    height: 3em;
    margin-left: 0.5em;
}

/* Override bootstrap styles for hovering over expandable navigations */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.nav > li > a:hover,
.nav > li > a:focus {
    background-color: rgb(91, 158, 219);
}

.navbar {
    background-color: rgb(110, 172, 228);
    border: none;
    margin-bottom: 0;
    min-height: 3em;
    border-radius: 0;
}

/* Spacing around the navigation ribbon containing the buttons*/
.navbar .container-fluid {
    padding-left: 0.5em;
    padding-right: 0;
}

/* Spacing between buttons within the navigation ribbon*/
.navbar-nav > li {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.navbar-nav > li:last-child {
    margin-right: 0;
}

/* Definitions for all buttons within the navigation ribbon*/
.navbar-nav > li > a {
    background-color: rgb(72, 144, 209);
    color: #fff;
    padding: 0.8em 1em;
    border: 1px solid transparent;
}

.navbar-header .navbar-toggle {
    border-radius: 0;
    border: 1px solid transparent;
    background-color: rgb(72, 144, 209);
    color: white;
    margin: 0 1.5em;
}

/* This is for little arrow which pops up when menu is expanded*/
#show_main_menu .bottom-caret {
    display: none;
}

#show_main_menu.dropdown.open .bottom-caret {
    display: inline-block;
}

.bottom-caret {
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    color: rgb(255, 204, 204);
    z-index: 1000;
    margin-bottom: -7px;
    margin-left: -7px;
    bottom: 0;
    left: 50%;
    vertical-align: middle;
    border-top: 7px solid;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

.label {
    padding: .1em .3em .1em;
    font-size: 90%;
    border-radius: 0;
}

/* ============= MAIN MENU STYLES =============*/
/* General menu style and positioning */
#draggable-main-menu {
    position: fixed;
    top: 3.15em;
    bottom: 0;
    background-color: rgb(110, 172, 228);
    border: none;
}

/* Text color for first level of the menu*/
#draggable-main-menu > li > a {
    color: #fff;
}

/* Hover style for first level of the menu */
#draggable-main-menu > li:hover > a,
#draggable-main-menu > li:focus > a,
#draggable-main-menu > li > a:hover,
#draggable-main-menu > li > a:focus {
    background-color: rgb(91, 158, 219);
}

/* submenu alignment relative to the main menu */
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: 0;
}

/* Style for displaying right arrow on submenues */
.dropdown-submenu > a:after {
    content: " ";
    float: right;
    border: 5px solid transparent;
    border-right-width: 0;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

/* For submenues makes the arrow on the right white for first level menu */
#draggable-main-menu > .dropdown-submenu > a:after {
    border-left-color: #fff;
}

.dropdown-menu {
    min-width: 16em;
    margin: 0;
    padding-top: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-clip: padding-box;
}

.scroll-menu {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 650px;
}

/* Spacing for menu items */
.dropdown-menu > li > a {
    padding: 0.5em 1em;
}

/* A bit wider spacing on first level of the menu */
#draggable-main-menu > li > a {
    padding: 1em 1em;
}

/* Spacing between glyphicons and text*/
.dropdown-menu li .glyphicon {
    margin-right: 10px;
}

.dropdown-submenu {
    position: relative;
}

/* Display the submenu when mouse hovers on current menu which has a submenu*/
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

/* ========== STYLES FOR DRAGDROP INTERFACE =============*/

/* Keep the highlight on the edit button when in edit mode*/
#edit_button.active > a {
    color: rgb(255, 204, 204);
    background-color: rgb(91, 158, 219);
}

#droppable-container {
    display: inline-block;
}

#droppable-container.dashed-border {
    border: 1px dashed rgb(255, 255, 255);
    min-height: 3em;
    min-width: 1em;
}

#droppable-container.dashed-border a {
    border: 0
}

/* Style for menu element when it is being dragged to shortuct menu */
.draggable-move {
    z-index: 9999;
    min-width: 191px;
    padding: 10px 30px;
    color: #262626;
    background-color: #fff;
    border: 1px solid #ccc;
}

.draggable-move .glyphicon {
    margin-right: 10px;
}

/* creates borders around menu items that can be draged to the shortcut menu when in edit mode */
.dropdown-menu.dashed-submenu li:not(.dropdown-submenu) a {
    border: 1px dashed #ccc;
    margin: 2px;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0;
}

body {
    background-color: rgb(255, 255, 255);
}

h1, h2, h3, h4 {
    color: rgb(110, 172, 228)
}

p {
    color: rgb(102, 102, 102);
}

/* The main page alerts  */
.flash-alert {
    margin-left: 10em;
    margin-right: 10em;
}

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 0;
}
