{% extends '@AppDesign/HomePage/base.html.twig' %}

{% block body %}
    <h1>Your lucky number is <span class="number">{{ number }}</span></h1>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        (new LuckyNumber('.number')).initEvents();
    </script>
{% endblock %}
