{% extends '@AppDesign/HomePage/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="{{ asset('bundles/appcore/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/appcore/css/milligram.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/appcore/css/main.css') }}">
{% endblock %}

{% block body %}
    {{ include('@AppCore/Default/_newDinoForm.html.twig') }}

    <h3>Enclosures</h3>

    <table class="table-enclosures">
        <tbody>
        {% for enclosure in enclosures %}
            <tr id="enclosure-{{ enclosure.id }}">
                <td>Enclosure #{{ enclosure.id }}</td>
                <td>
                    Contains <strong>{{ enclosure.dinosaurCount }}</strong> dinosaur(s)
                </td>
                <td>
                    {% if enclosure.isSecurityActive %}
                        🔒 Security active!
                    {% else %}
                        <button class="button button-alarm">Sound alarm !!!</button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
