<button type="button" class="btn btn-{{ title == 'remove' ? 'warning' : 'info' }} btn-sm js-comment-btn"
        data-href="{{ path }}">
    <span class="glyphicon glyphicon-{{ title }}"></span> {{ title }}
</button>
