<div class="row">
    <div class="col-sm-12">
        <img class="comment-img rounded-circle"
             src="{{ asset('bundles/appoperations/images/alien-profile.png') }}">


        {# TODO: to rewrite it better?  #}
        {% if is_granted('ROLE_ADMIN') and not comment.isDeleted %}
            {{ include('@AppOperations/News/Components/btn_remove_restore_comment.html.twig', {
                path:path('app_operations_comments_remove', {id:comment.id}),
                title:'remove'
            }) }}
        {% elseif is_granted('ROLE_ADMIN') %}
                {{ include('@AppOperations/News/Components/btn_remove_restore_comment.html.twig', {
                    path: path('app_operations_comments_restore', {id:comment.id}),
                    title:'restore'
                }) }}
        {% endif %}

        <div class="comment-container d-inline-block pl-3 align-top">
            <span class="commenter-name">{{ comment.authorName }}</span>
            <small>about {{ comment.createdAt|default_date_format }}</small>

            {% if comment.isDeleted %}
                <span class="fa fa-close"></span> deleted
            {% endif %}

            <br>
            <span class="comment"> {{ comment.content }}</span>
        </div>
    </div>
</div>
