<div class="article-container my-1">
    <a href="{{ path('app_operations_news_show', {slug: article.slug}) }}">
        <img class="article-img" src="{{ asset('bundles/appoperations/' ~ article.imagePath) }}">
        <div class="article-title d-inline-block pl-3 align-middle">
            <span>{{ article.title }}</span>
            <small>({{ article.nonDeletedComments|length }} comments)</small>
            <br>
            <span class="align-left article-details"><img class="article-author-img rounded-circle" src="{{ asset('bundles/appoperations/images/alien-profile.png') }}"> {{ article.author }} </span>
            <span class="pl-5 article-details float-right"> {{ article.publishedAt ? article.publishedAt|default_date_format }}</span>
        </div>
    </a>
</div>
